@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #dfdfdf;
}

section, footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 0;
}
.banner .banner-text p{
    color: white;
    width: 860px;
}
.faca-mais .container .faca-mais-text p{
    color: #737373;
    width: 500px;
    font-size: 14px;
    text-align: justify;
}
.container{
    max-width: 1400px;
    height: 800px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    background: linear-gradient(45deg, #0e1038, #42557c);
    text-transform:uppercase;
    font-weight: 200;
}
.btn:hover{
    background-color: #42557c;
}
@keyframes animate-outline {
    from{
        outline: 0px solid #42557c;
    }
    to{
        outline: 0px solid #176d6200;
    }
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.logo_img{
    height: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a:not(.btn):after{
    content: "";
    background-color:#ffffff;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.4s;
}
nav ul a:hover::after{
    width: 100%;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 80px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 58px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.destaque_ponto{
    color: #42557c;
}
.destaque_ponto_{
    color: #42557c;
}

.banner .banner-text p{
    font-size: 20px;
    color: #f2f2f2;
    font-weight: lighter;
    margin: 18px 0;
}
.faca-mais .container{
    display: flex;}
.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0px 60px;
    text-align: center;
    margin-top: 180px;
}
.faca-mais .faca-mais-text h3{
    font-size: 60px;
    text-align: left;
    background: linear-gradient(to right, #0e1038, #42557c); /* Gradiente da esquerda para a direita */
    background-clip: text; /* Recorta o fundo no texto */
    color: transparent;
    line-height: 1.2; /* Ajuste a altura da linha para controlar o espaçamento */
    max-height: 2.4em; /* Limite a altura máxima para duas linhas */
    overflow: hidden; /* Esconda o texto que ultrapassar o limite */
    white-space: nowrap;
    text-align: center;
}

.faca-mais .faca-mais-text p{
    margin: 30px 0px 30px 0px;
    color: #505050;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.faca-mais .faca-mais-img{
    width: 100%;
}
.faca-mais .faca-mais-img img{
    width: 120%;
}
.candidatos h3{
    text-align: center;
}
.candidatos p{
    margin-bottom: 20px;
    text-align: center;
}
.cartoes{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 70px;
}
.text_candidatos{
    color: #505050;
    font-size: 20px;
    font-weight: 400;
}
.apresentacao_candidatos{
    font-size: 60px;
    color: #0e1038;
    margin: 0;
}
.candidatos .cartoes_item{
    background: linear-gradient(360deg, #0e1038, #42557c);
    margin: 30px;
    border-radius: 18px;
    text-align: center;
    width: 400px;
}
.candidatos .cartoes_item img{
    width: 180px;
    display: block;
    margin: 50px auto;
}
.candidatos .cartoes_item .cargo{
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
    margin-top: 15px;

}
.candidatos .cartoes_item .nome_usuario{
    padding: 0 15px;
    font-weight: 500;
    font-size: 30px;
    color: white;
}
.candidatos .cartoes_item .numero{
    padding: 0 15px;
    font-weight: 200;
    font-size: 50px;
    color: white;
    margin-bottom: 100px;
    margin-top: 30px;
}
.projetos h3{
    text-align: center;
    color: #0e1038;
    font-size: 60px;
}
.projetos p{
    color: #505050;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
}
.projetos .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.agradecimentos h3{
    text-align: center;
    background: linear-gradient(to right,  #1a173f, #42557c); /* Gradiente da esquerda para a direita */
    background-clip: text; /* Recorta o fundo no texto */
    color: transparent;
    font-size: 70px;
    margin-top: 80px;
}
.agradecimentos p{
    color: #505050;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
}

footer {
    background-color: #0a0b25;
    padding: 10px;
    text-align: center;
}
.footer p {
    margin: 5px 0;
    color: #e2dede;
    font-size: 10px;
}

.social-media {
    margin: 20px 0;
}

.footer_links a {
    margin-right: 16px;
    text-decoration: none;
    color: #ffffff;
}

.footer_links a:hover {
    text-decoration: underline;
}
.slideshow_container {
    position: relative;
    max-width: 100%;
    align-items: center;
}
.slide_img {
    width: 70%;
    height: 100%;
    margin-bottom: 60px;
    margin-top: 100px;
}
.slide_fade{
    text-align: center;
}
.fotos{
    background: linear-gradient(to top, #050616, #0e1038, #42557c );
}