/* Estilos aplicados ao elemento <body> */
body {
    margin: 0; /* Remove a margem padrão do corpo da página */
    padding: 0; /* Remove o preenchimento (padding) padrão do corpo da página */
}

/* Estilos aplicados ao elemento <header> */
header {
    background-image: url(../img_parallelo/project-1.jpg); /* Define uma imagem de fundo para o cabeçalho */
    background-repeat: no-repeat; /* Evita que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem cubra todo o cabeçalho, mantendo suas proporções */
    background-position: center; /* Centraliza a imagem de fundo no cabeçalho */
    width: 100%; /* Define a largura do cabeçalho para ocupar 100% da tela */
    height: 720px; /* Define uma altura fixa de 720 pixels para o cabeçalho */
    padding-top: 15px; /* Adiciona um preenchimento de 15 pixels no topo do cabeçalho */
}

/* Estilos aplicados ao elemento <nav> */
nav {
    background-color: black; /* Define a cor de fundo do menu de navegação como preto */
    min-width: 1200px; /* Define a largura mínima do menu de navegação como 1200 pixels */
    max-width: 1400px; /* Define a largura máxima do menu de navegação como 1400 pixels */
    height: 125px; /* Define uma altura fixa de 125 pixels para o menu de navegação */
    margin: 0 auto; /* Centraliza horizontalmente o menu de navegação na página */
}

/* Estilos aplicados ao logo dentro do <nav> */
nav #logo {
    margin: 23px; /* Adiciona uma margem de 23 pixels ao redor do logo */
    float: left; /* Alinha o logo à esquerda dentro do menu de navegação */
}

/* Estilos aplicados à imagem dentro do logo */
nav #logo img {
    height: 75px; /* Define a altura da imagem do logo como 75 pixels */
}

/* Estilos aplicados aos itens da lista dentro do <nav> */
nav ul li {
    color: aliceblue; /* Define a cor do texto dos itens da lista como azul claro */
    font-size: 16px; /* Define o tamanho da fonte como 16 pixels */
    font-family: Montserrat, sans-serif; /* Define a fonte como Montserrat, com fallback para fontes sans-serif */
    list-style: none; /* Remove a marcação padrão da lista (como bolinhas) */
}

/* Estilos aplicados à lista de navegação dentro do <nav> */
nav ul {
    display: flex; /* Exibe os itens da lista em uma linha (layout flexível) */
    flex-direction: row; /* Organiza os itens da lista em uma única linha horizontal */
    margin: 0; /* Remove a margem padrão da lista */
    padding: 0; /* Remove o preenchimento (padding) padrão da lista */
}

/* Estilos aplicados aos links dentro dos itens da lista de navegação */
nav ul li a {
    padding: 55px 20px 55px 0; /* Adiciona preenchimento ao redor dos links (55px no topo e na base, 20px na direita) */
    float: left; /* Alinha os links à esquerda dentro dos itens da lista */
}

/* Estilos aplicados ao menu principal (uma parte específica do <nav>) */
nav #menu_principal {
    float: right; /* Alinha o menu principal à direita dentro do menu de navegação */
}

/* Estilos aplicados ao span dentro dos itens do menu principal */
#menu_principal li span {
    font-family: Montserrat, sans-serif; /* Define a fonte como Montserrat, com fallback para fontes sans-serif */
    font-size: 11px; /* Define o tamanho da fonte como 11 pixels */
    color: rgb(134, 134, 134); /* Define a cor do texto como cinza */
    margin-top: 60px; /* Adiciona uma margem superior de 60 pixels */
    margin-right: 3px; /* Adiciona uma margem à direita de 3 pixels */
    float: left; /* Alinha o span à esquerda dentro dos itens da lista */
}

/* Estilos aplicados aos links dentro do menu principal */
#menu_principal li a {
    color: white; /* Define a cor do texto dos links como branco */
    font-size: 14px; /* Define o tamanho da fonte como 14 pixels */
    text-transform: uppercase; /* Converte o texto para letras maiúsculas */
    text-decoration: none; /* Remove a decoração do texto (como sublinhado) */
    transition: 1s; /* Adiciona uma transição suave de 1 segundo para alterações no link */
}

/* Estilos aplicados aos links quando o cursor está sobre eles */
#menu_principal li a:hover {
    color: rgb(231, 169, 32); /* Muda a cor do texto para laranja quando o link é 'hovered' */
    transition: 1s; /* Mantém a transição suave de 1 segundo */
    text-decoration: line-through; /* Adiciona um risco no texto ao passar o mouse sobre o link */
}
.regua {
    background-image: url(../img_parallelo/divider-dark.png); /* Define uma imagem de fundo como uma régua/divisor */
    background-repeat: repeat-x; /* Repete a imagem no eixo horizontal */
    padding-top: 100px; /* Adiciona um espaçamento superior de 100 pixels */
}

.icons {
    height: 120px; /* Define a altura dos ícones como 120 pixels */
    width: 345px; /* Define a largura total dos ícones como 345 pixels */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    display: flex; /* Usa Flexbox para alinhar os ícones em linha */
    flex-direction: row; /* Define a direção dos itens em uma linha horizontal */
}

.icons .icon img {
    width: 115px; /* Define a largura das imagens dos ícones como 115 pixels */
}

.txt {
    height: 100px; /* Define a altura do texto como 100 pixels */
    width: 100%; /* Define a largura como 100% do container pai */
}

.txt {
    width: 850px; /* Define uma largura fixa de 850 pixels para o texto */
    margin: 0 auto; /* Centraliza o texto horizontalmente */
}

.txt h6 {
    font-family: "Roboto Slab", serif; /* Define a fonte como Roboto Slab (precisa ser carregada do Google Fonts) */
    font-size: 28px; /* Define o tamanho da fonte como 28 pixels */
    font-weight: 300; /* Define o peso da fonte como 300 (leve) */
    width: 80%; /* Define a largura do h6 como 80% */
    display: inline-block; /* Faz com que o elemento se comporte como inline, mas permite largura e altura */
    line-height: 40px; /* Define a altura da linha como 40 pixels */
    text-align: center; /* Alinha o texto ao centro */
    margin: 0; /* Remove as margens padrão */
    margin-left: 95px; /* Adiciona 95 pixels de margem à esquerda */
    margin-top: 40px; /* Adiciona 40 pixels de margem ao topo */
}

.trabalhos {
    margin-top: 110px; /* Adiciona uma margem superior de 110 pixels */
}

.cabecalho {
    min-width: 1200px; /* Define a largura mínima como 1200 pixels para o menu de navegação */
    max-width: 1400px; /* Define a largura máxima como 1400 pixels para o menu de navegação */
    margin: 0 auto; /* Centraliza o cabeçalho horizontalmente */
    text-align: center; /* Alinha o texto no centro */
}

.trabalhos .cabecalho h4 span {
    color: #e7a920; /* Define a cor do texto como amarelo (#e7a920) */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 11px; /* Define o espaçamento entre letras como 11 pixels */
    font-weight: 300; /* Define o peso da fonte como 300 (leve) */
    font-size: 24px; /* Define o tamanho da fonte como 24 pixels */
    font-family: 'Montserrat', sans-serif; /* Define a fonte como Montserrat */
}

.trabalhos .cabecalho h4 b {
    font-weight: 700; /* Define o peso da fonte como 700 (negrito) */
    font-family: 'Montserrat', sans-serif; /* Define a fonte como Montserrat */
    font-size: 85px; /* Define o tamanho da fonte como 85 pixels */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    color: #000; /* Define a cor do texto como preto */
}

.trabalhos .cabecalho p {
    font-family: 'Montserrat', sans-serif; /* Define a fonte como Montserrat */
    font-size: 20px; /* Define o tamanho da fonte como 20 pixels */
    color: #000; /* Define a cor do texto como preto */
}

.trabalhos .mosaico{
    min-width: 1200px; /* Define a largura mínima do menu de navegação como 1200 pixels */
    max-width: 1400px; /* Define a largura máxima do menu de navegação como 1400 pixels */
    margin: 0 auto;
}
.trabalhos .mosaico .item{
    height: 470px; /* Define a altura do elemento como 470 pixels */
    width: 570px;  /* Define a largura do elemento como 570 pixels */
    background-image: url(../img_parallelo/project-1.jpg); /* Define a imagem de fundo para o elemento, utilizando o caminho relativo fornecido */
    background-size: contain; /* Ajusta o tamanho da imagem de fundo para que ela se encaixe dentro do elemento, mantendo sua proporção. A imagem será redimensionada se for maior ou menor que o elemento. */
    background-position: center; /* Garante que a imagem de fundo não se repita dentro do elemento */
}

.trabalhos .mosaico .item:hover{
    background-size: 110%;
    background-position: center;
}

/* ----------------- Início do estilo da página "trabalhos" --------------------- */
/* Estilos aplicados ao elemento com o id "trabalhos" */
#trabalhos {
    background-color: rgb(168, 168, 168); /* Define a cor de fundo da seção "trabalhos" como cinza */
    transition: 1s; /* Adiciona uma transição suave de 1 segundo para alterações na seção */
}
